.header {
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
  margin-left: 25px;
}

.headerBtns {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}

#darkModeBtn,
#lightModeBtn {
  height: fit-content;
}

.light-mode {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: #202124;
  color: #c0c8d0;
}

#inputBar {
  display: flex;
  margin-left: 25px;
  font-size: 17px;
}
